*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto Condensed', sans-serif;

}
.header{
	box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    width: 100%;
    z-index: 499;
    position: relative;
}

.header.fix-area-top{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #ffffff;
}
.logo{
	width: 70px;
	height: 75px;
}
header ul{
	width: 100%;
}
header nav.navbar{
	padding: 0;
}
header .navbar-collapse ul li a{
	text-transform: uppercase;
	color: #2980b9 !important;
	font-weight: 900;
	text-align: center;
	height: 85px;
    padding-top: 1.5rem;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;

}

header .navbar-collapse ul li a:hover{
	background-color: #41e219;
	color: #fff !important;
}
header .navbar-collapse ul li a:hover>i{
	color: #fff !important;
}

header .navbar-collapse ul li a>i{
	font-size: 1.3rem;
}

/* SLIDER */
	 /*jssor slider loading skin spin css*/
	 	.main-slider #jssor_1 img{
	 		width: 100%;
	 		cursor: pointer;
	 	}

        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 101 css*/
        .jssorb101 .i {position:absolute;cursor:pointer;}
        .jssorb101 .i .ci {fill:#000;}
        .jssorb101 .i .co {fill:#fff;opacity:.3;}
        .jssorb101 .i:hover .co {fill:#ff9933;opacity: 1;}
        .jssorb101 .i:hover .ci {fill:#fff;}
        .jssorb101 .iav .ci {fill:#fff;stroke-width:0;}
        .jssorb101 .iav .co {fill:#46d1d3;opacity: 1;}
        .jssorb101 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:none;position:absolute;cursor:pointer;}
    	.main-slider:hover .jssora051{
	 		display: block;
	 	}

        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
/* END */


.news-promotion{
	margin-top: 3rem;
}
.news-promotion img{
	width: 100%;
	height: 268px;
}
h2.title-block{
	color: #2980b9;
	font-weight: 900;
}
.news-promotion .small-line{
	width: 10%;
	margin: 0 auto;
	background-color: #f1c40f;
	height: 5px;
	border-radius: 10px;
}




/* 	RESPONSIVE */
@media screen and (max-width: 991px){
	header .navbar-collapse ul li{
		width: 100% !important;
	}
	
}
